/* DEFINIÇÕES DE PADRÕES */
*{
    margin: 0;
    padding: 0;
    font-family: var(--font-primaria);
}

body{
    background: rgb(255,165,0);
    background: -moz-linear-gradient(0deg, rgba(255,165,0,0.6) 0%, rgba(250,81,14,0.7) 1%, rgba(206,80,46,0.8) 3%, rgba(176,79,67,0.9) 5%, rgba(148,78,87,0.9) 8%, rgba(134,77,96,1) 11%, rgba(127,77,101,1) 14%, rgba(74,75,139,1) 27%, rgba(64,65,124,1) 32%, rgba(57,58,113,1) 37%, rgba(37,38,82,1) 43%, rgba(29,29,68,1) 48%, rgba(15,15,46,1) 54%, rgba(0,0,23,1) 68%);
    background: -webkit-linear-gradient(0deg, rgba(255,165,0,0.6) 0%, rgba(250,81,14,0.7) 1%, rgba(206,80,46,0.8) 3%, rgba(176,79,67,0.9) 5%, rgba(148,78,87,0.9) 8%, rgba(134,77,96,1) 11%, rgba(127,77,101,1) 14%, rgba(74,75,139,1) 27%, rgba(64,65,124,1) 32%, rgba(57,58,113,1) 37%, rgba(37,38,82,1) 43%, rgba(29,29,68,1) 48%, rgba(15,15,46,1) 54%, rgba(0,0,23,1) 68%);
    background: linear-gradient(0deg, rgba(255,165,0,0.6) 0%, rgba(250,81,14,0.7) 1%, rgba(206,80,46,0.8) 3%, rgba(176,79,67,0.9) 5%, rgba(148,78,87,0.9) 8%, rgba(134,77,96,1) 11%, rgba(127,77,101,1) 14%, rgba(74,75,139,1) 27%, rgba(64,65,124,1) 32%, rgba(57,58,113,1) 37%, rgba(37,38,82,1) 43%, rgba(29,29,68,1) 48%, rgba(15,15,46,1) 54%, rgba(0,0,23,1) 68%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffa500",endColorstr="#000017",GradientType=1);
}

@font-face{
    font-family: 'Varela Round';
    src: url('../../../public/assets/fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto-thin';
    src: url('../../../public/assets/fonts/Roboto-thin.ttf') format('truetype');
}

@font-face{
    font-family: 'Cormorant Garamond';
    src: url('../../../public/assets/fonts/CormorantGaramond-Light.ttf') format('truetype');
}

:root {
    --font-primaria: 'Varela Round';
    --font-secundaria: 'Roboto-thin';

    --tamanho-font-menu: 18px;
    --tamanho-font-titulo-card: 36px;

    --color-font-menu: rgb(112,128,144);
    --color-star-light: rgb(224,255,255);
    
    --background-color-card: rgba(0, 0, 0, 0.4);
    --background-color-card-sobre: linear-gradient(171deg, rgba(24,20,50,0.3) 0%, rgba(0,0,0,0.5) 49%, rgba(74,75,139,0.3) 100%);
    
    --box-shadow-card: 0px 0px 50px 5px rgba(0, 0, 0, 0.60);
    --box-light-card: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
    --default-light: 0px -1px 10px rgba(224, 255, 255, 0.9);
}
/* FINAL DAS DEFINIÇÕES DE PADRÕES */