.container__poster{
    position: relative;
}

.video__intro{
    width: 99.2vw;
    height: 100vh;
    object-fit: cover; 
    box-shadow: 0px 0px 30px 20px rgba(0, 0, 0, 0.9);
    opacity: 1;
}

/*Efeito desvanescer debaixo do video*/
.container__poster:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }